@import "../../index.css";

.storybook-button {
	/* font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1; */
	@apply px-4 m-1 rounded-lg;
	/* @apply focus:ring-2 focus:ring-green-600 focus:ring-offset-2; */
	@apply focus:outline-none;
	@apply font-sans text-white font-light text-lg capitalize bg-green-600;
	@apply transform hover:scale-105 hover:shadow-lg;
	@apply border border-transparent;
}

.storybook-button--primary {
	/* color: white;
	background-color: #1ea7fd; */
	@apply text-white bg-green-600 hover:bg-green-800;
}
.storybook-button--secondary {
	/* color: #333;
	background-color: transparent;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset; */
	@apply bg-white border border-gray-300 text-green-600 hover:text-black hover:bg-gray-200 font-medium;
}
.storybook-button--small {
	/* font-size: 12px;
	padding: 10px 16px; */
	@apply text-xs;
}
.storybook-button--medium {
	/* font-size: 14px;
	padding: 11px 20px; */
}
.storybook-button--large {
	/* font-size: 16px;
	padding: 12px 24px; */
	@apply text-2xl;
}
